# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# Build artifacts
dist/
build/
*.egg-info/

# Test & type-check caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# simpl.E local state
.duckdb
.simple_e/
